* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

button {
    width: 100px;
    height: 50px; 
    font-weight: bold;
    border: none;
    background-color: rgb(13,13,69);
    color: white;
    font-size: 18px;
    position: absolute;
    bottom: 20px;
    margin-left: 20px;
}

.outer-container {
    height: 400px;
    position: absolute;
    top: 25%;
    margin-left: 200px;
    border: 3px solid rgb(13,13,69);
    float: left;
}

.add-new { 
    padding: 14px 0 14px 25px;
    display: flex;
    flex-direction: row;
    background-color: rgba(13, 13, 69, 0.4); 
}

/*.addButton {
    margin: 280px 0 0 15px;

}*/

.todoItem {
    padding: 15px 15px;
    border: 1px solid rgba(13, 13, 69, 0.4);
}

.inputE {
    width: 30px;
    display: inline;
}

input {
    margin-right: 15px;
}

.showMessage {
    width: 250px;
    background-color: rgba(13, 13, 69, 0.4); 
    margin: 0 auto;
    top: 50%;
    left: 20%;
    padding: 30px;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#removeLink, #addLink {
    float: right;
    text-decoration: underline;
}

.markContainer {
    height: 700px;
    float: right;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 80px 200px 0 100px;
}

.completedContainer {
    background-color: lime;
    width: 400px;
    height: 250px;
    border: 2px solid black;
}

.removeContainer {
    background-color: red;
    width: 400px;
    height: 250px;
    border: 2px solid black;
    color: white;
}

.completedContainer .add-new, .removeContainer .add-new {
    background-color: white;
}

#completedItem, #removedItem {
    padding: 5px 15px;
    
}